<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="Human" class="lesson1.dzHospital.Human"></bean>


    <bean id="Registry" class="lesson1.dzHospital.Registry">
        <property name="Human">
            <ref bean="Human"/>
        </property>
    </bean>
</beans>